<div
  class="h-full flex flex-col bg-gradient-to-b from-violet-600 to-violet-900 shadow-lg transition-all duration-300"
  [class.w-64]="!collapsed"
  [class.w-16]="collapsed"
>
  <div class="flex items-center justify-between p-4">
    <h1
      class="text-white font-semibold text-center text-2xl"
      *ngIf="!collapsed"
    >
      Jovian Project
    </h1>
    <!-- Hamburger -->
    <button
      class="p-3 focus:outline-none text-white hover:bg-violet-700 transition rounded-md self-end"
      (click)="toggleSidebar()"
      aria-label="Toggle sidebar"
    >
      <span *ngIf="collapsed">&#9776;</span>
      <span *ngIf="!collapsed">&#10005;</span>
    </button>
  </div>

  <!-- Navigation -->
  <mat-nav-list class="">
    <a
      mat-list-item
      [routerLink]="['/', projectId, 'SAST']"
      routerLinkActive="!collapsed ? 'bg-violet-800 text-white font-bold shadow' : 'bg-violet-700 text-white'"
      [ngClass]="{
        'justify-center': collapsed,
        'rounded-lg  text-lg transition-all duration-200 hover:bg-violet-700 hover:text-white': true
      }"
    >
      <span *ngIf="!collapsed">📊 SAST</span>
      <span *ngIf="collapsed">📊</span>
    </a>
    <a
      mat-list-item
      [routerLink]="['/', projectId, 'DAST']"
      routerLinkActive="!collapsed ? 'bg-violet-800 text-white font-bold shadow' : 'bg-violet-700 text-white'"
      [ngClass]="{
        'justify-center': collapsed,
        'rounded-lg  text-lg transition-all duration-200 hover:bg-violet-700 hover:text-white': true
      }"
    >
      <span *ngIf="!collapsed">📊 DAST</span>
      <span *ngIf="collapsed">📊</span>
    </a>
    <a
      mat-list-item
      [routerLink]="['/', projectId, 'threat-modling']"
      routerLinkActive="!collapsed ? 'bg-violet-800 text-white font-bold shadow' : 'bg-violet-700 text-white'"
      [ngClass]="{
        'justify-center': collapsed,
        'rounded-lg  text-lg transition-all duration-200 hover:bg-violet-700 hover:text-white': true
      }"
    >
      <span *ngIf="!collapsed">📊 Threat Modeling</span>
      <span *ngIf="collapsed">📊</span>
    </a>
    <a
      mat-list-item
      [routerLink]="['/', projectId, 'SCA']"
      routerLinkActive="!collapsed ? 'bg-violet-800 text-white font-bold shadow' : 'bg-violet-700 text-white'"
      [ngClass]="{
        'justify-center': collapsed,
        'rounded-lg  text-lg transition-all duration-200 hover:bg-violet-700 hover:text-white': true
      }"
    >
      <span *ngIf="!collapsed">📊 SCA</span>
      <span *ngIf="collapsed">📊</span>
    </a>
  </mat-nav-list>
</div>
